table{
    margin-bottom: 20px;
}
.table-player, .table-player2, .table-player3 {
    width: 50%;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
    border: 1px solid blue;
    /* text-align: center; */
}